@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@900&family=Roboto+Slab:wght@300;600&display=swap');

#wrapper{
	width:1600px;
	margin: 0 auto;
}

body{
	font-size: 16px;
	font-family: "Roboto",serif;
}
#tagline{
	font-family: "Montserrat", sans-serif;
	font-weight: normal;
	font-size: 4em;
}
h2,h3,h4{
	font-family: "Montserrat", sans-serif;
}
a{

	text-transform: uppercase;
	font-family:"Montserrat", sans-serif;
    font-size: 2em;
    color:white;
    padding: 1em;
    align-content: center;
    margin-left: 2em;
}

header{
	background-color: #2EB67D;
    padding: 20px;
}
nav{
	background-color: #2EB67D;
    padding: 20px;
}
article{
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
aside{
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
.headline{
	background: url(huntingtonbeach.jpg);
}
.about{
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float:right;
    width: 62%;
}
.clients{
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;

}
.services{
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
.intouch{
background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
footer{
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;

}