@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=EB+Garamond:wght@500&family=Montserrat:wght@400;500;700&display=swap');
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Montserrat" sans-serif;

}

.topnav{
	display: inline-block;
	float: ;right;
	text-align: center;
	margin-left: 80em;
	position: relative;
	top:-3em;
}

nav a{
	color: white;
	font-size: 1.5em;
	letter-spacing: 0.2em;
	padding: 0 1em;
	font-family: "Montserrat" sans-serif;
	text-align: center;
}

nav a:hover{
	color: red;
}

p{
	font-family: "Garamond" serif;
}

h1,h2,h3{
	text-transform: uppercase;
}

header{
	background-color: rgba(0, 0, 128,0.8);
	width: auto;
	height: 10em;
}

#logo{
	display: inline-block;
	padding-top: 4em;
	padding-left: 7em;
}
.welcome{
	height: 40em;
	background-image:url(../images/introimage.jpg);
	background-repeat:no-repeat;
    background-size:cover;
    text-align: center;
    font-family: "Montserrat";

}

.welcome h1{

	color: white;
	position: relative;
	top: 50%;
	font-size: 4em;
	text-shadow: 2px 2px 4px #000000;
}
.welcome h2{

	color: white;
	position: relative;
	top: 50%;
	font-size: 3em;
	text-shadow: 2px 2px 4px #000000;
}
.welcome a{
		color: red;
}

#about{
	padding: 2em 0;
	background-color: rgba(0, 0, 128,0.8); 
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}

.aboutthomas{
	width: 20%;
	height:10em;
	margin: 1em;
	box-sizing: border-box;
	color: white

}

.aboutthomas h2{
	text-align: center;
	font-family: "Montserrat";
	font-size: 2.3em;
	margin-bottom: 0.5em;
}
.aboutthomas p{
	font-size: 1.3em;
	margin-bottom: 0.5em;
}

#previouswork{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;	
	padding: 5em 4em;

}

.previous{

	text-align: center;
	font-size: 2em;
}

.previous h3{

	font-family: "Montserrat";
	padding-top: 3em;


}

#clients{
	background-color: rgba(0, 0, 128,0.8);
	height:13em;
	text-align: center;
	color:white;
	font-family: "Montserrat";

}

#clients h2{
	padding-top:  1em;
	font-size: 2em;
}

.clientquotes{

	float: left;
	font-family:"Garamond" serif;
	font-size: 1.6em;
	color:#fff;
	margin-left: 8em;
	margin-top: 1em;

}
#experience1{
		width: 90%;
		padding: 20px;
		margin: 100px auto;
		background: #ddd;
		display: flex;
		flex-direction: row;
		justify-content: center;
}
#experience h2{
	font-size: 3em;
	padding: 1em;
	text-align: center;
	font-family: "Montserrat";
	color: black;
}

.cando{

	width:15%;
	float: left;
	margin-left:2em;
	display: inline-block;
	background: rgba(0, 0, 128,0.8);
	padding: 1em;

}
.cando:hover{
		background: red;
}

.cando h3{
	color: white;
	font-size: 1.3em;
	text-align: center;
	padding: 0.5em;
	font-family: "Montserrat";
}

.cando img{
	width: 50%;
	margin-left:5em;
	margin-top: 2em;
	margin-bottom: 2em;
}

#skills{
	clear: both;
	margin: 3em;
	padding: 4em;

}

#skills h2{
	font-family: "Montserrat";
	text-align: center;
	font-size: 3em;
}

#skills h3{
	font-family: "Montserrat";
	font-size: 2em;
}

.lineline1{
	background-color: rgba(0, 0, 128,0.8);
	height: 1.5em;
	font-size: 3em;
	color:white;
	align-items: center;
	width: 90%
}
.lineline2{
	background-color: rgba(0, 0, 128,0.8);
	height: 1.5em;
	font-size: 3em;
	color:white;
	align-items: center;
	width: 75%
}
.lineline3{
	background-color: rgba(0, 0, 128,0.8);
	height: 1.5em;
	font-size: 3em;
	color:white;
	align-items: center;
	width: 50%
}
.lineline4{
	background-color: rgba(0, 0, 128,0.8);
	height: 1.5em;
	font-size: 3em;
	color:white;
	align-items: center;
	width: 40%
}
.lineline5{
	background-color: rgba(0, 0, 128,0.8);
	height: 1.5em;
	font-size: 3em;
	color:white;
	align-items: center;
	width: 100%
}

.contactformtitle{
	margin-top: 2em;
	color: rgba(0, 0, 128,0.8);
	text-align: center;
	line-height: 2em;
}
.contactformtitle h1{
	font-size: 2.5em;

}
.contactformtitle h2{
	font-family: "Montserrat"

}

form{
	margin-top: 2em;
	text-align: center;
}

.form-control{

	width:50%;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1em black;
	font-size: 2.2em
	margin-bottom:1em;
}
input{
	height: 3em;
}

form .submit{
	background-color: rgba(0, 0, 128,0.8);
	border-color: transparent;
	color: #fff;
	font-size: 1.5em;
	letter-spacing: 0.2em;
	height: 3em;
	margin-top: 0.5em;

}

form .submit:hover{
	background-color: green;
	cursor: pointer;
}



