nav{
	font-weight: bold;
	font-family: sans-serif;
	font-variant: small-caps;
	font-size: 50px;
}

#slogan{
	font-size: 100px;
	color:green;
	font-style: italic;
}
.selection headline{
	color:#22dd55;
}